/vendor
/node_modules
/.env
/.env.local
/.env.backup
/.phpunit.cache
/.phpunit.result.cache
/storage/*.key
/storage/**/*.key
/storage/app/private
/storage/app/public/*
/storage/app/videos/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/storage/installed
/public/build
/public/hot
/public/storage
/public/vendor
/composer.lock
/package-lock.json
/bun.lock
*.tsbuildinfo
.DS_Store
Thumbs.db
